chardet==5.2.0
chromadb==0.5.0
gradio==4.31.0
langchain==0.1.20
langchain-openai==0.1.6
loguru==0.7.2
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
plotly==5.20.0
pydantic>=2
pypdf==4.2.0
sentence-transformers==2.7.0
scikit-learn==1.4.2
tqdm==4.66.2
typer==0.12.3
umap-learn==0.5.6
unstructured[all-docs]==0.13.7
